.DS_Store

modula.egg-info/
modula/__pycache__/

docs/build/
docs/jupyter_execute/

docs/source/examples/assets/

examples/.ipynb_checkpoints/
examples/data/*
!examples/data/*.py

experiment/data
experiment/logs
experiment/*.png
experiment/result*
experiment/sweep_configs
