.DS_Store

modula.egg-info/
modula/__pycache__/

docs/build/
docs/jupyter_execute/

docs/source/examples/assets/

examples/.ipynb_checkpoints/
examples/data/*
!examples/data/*.py

experiment/data/cifar10_files/
experiment/data/mnist_files/
experiment/data/shakespeare/
experiment/data/__pycache__/
experiment/logs
experiment/*.png
experiment/result*
experiment/sweep_configs
experiment/chrysalis
experiment/scales_plots
experiment/.env
